body{
    background-color: orange;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

h1{
    text-align: center;
    font-size: 64px;
    font-family: "Arial Black";
    color: white;
}

.container{
    display: flex;
    max-width: 1400px;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;
}

@media (max-width: 1200px){
    .block{
        max-width: 300px;
    }
}

@media (max-width: 1200px){
    .block{
        max-width: 275px;
    }

    .block h2{
        font-size: 1.2cm;
    }
}

.block{
    max-width: 350px;
    border-radius: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
    margin-bottom: 25px;
}

.block h2{
    font-family: "Arial Black";
    font-size: 56px;
    color: gold;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.block p{
    font-family: "Arial";
    text-align: center;
    line-height: 1.5;
    font-size: 18px;
}

.more{
    display: block;
    font-size: 18px;
    font-family: "Arial";
	text-align: center;
    text-decoration: none;
    border-bottom: 2px solid gold;
    color: black;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

.more:hover{
    border-bottom: 2px solid black;
}